@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');

:root{
    --very-dark-blue: hsl(233, 47%, 7%);
    --Dark-desaturated-blue: hsl(244, 38%, 16%);
    --Soft-violet: hsl(277, 64%, 61%);
    --Slight-transparent: hsla(0, 0%, 100%, 0.75);
    --Slightly--transparent: hsla(0, 0%, 100%, 0.6);

}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;
}

body{
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    text-align: center;
    height: 100vh;
    background-color: var(--very-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
}

span{
    color: var(--Soft-violet);
}

.container{
    max-width: 375px;
    width: 85%;
    height: 90%;
    margin: 0 auto;
}

.bg-wrapper{
    background-image: url(/images/image-header-mobile.jpg);
    background-position: center;
    background-size: cover;
    background-color: var(--Soft-violet);
    background-blend-mode:multiply;
    height: 32%;
    width: 100%;
}

.content-box{
    width: 100%;
    padding: 25px 30px;
    background-color: var(--Dark-desaturated-blue);

}    

h1{
    font-size: 1.5rem;
    margin-bottom: 15px;
}

h1 + p {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 14px;
    color: var(--Slightly--transparent);
    line-height: 1.6;
    margin-bottom: 20px;
    
}

.stats-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

h3{
    font-size: 1.2rem;
    margin-bottom:5px ;
}

.stat-info{
    color: var(--Slightly--transparent);
    font-size: 0.6rem;
    text-transform: uppercase;
}

@media (min-width:1140px) {

    .container{
        display: flex;
        max-width: 1024px;
        height: 400px;
    }
    .bg-wrapper{
        background-image: url(./images/image-header-desktop.jpg);
        height: 100%;
        order: 2;
    }
    .content-box{
        text-align: left;
        padding-top: 4rem;
        padding-bottom: 4rem;
        padding-left: 4rem;
        padding-right: 6rem;
    }

    h1{
        font-size: 2.2rem;
        margin-bottom: 15px;
    }

    h1 + p{
        font-size: 1rem;
        margin-bottom: 50px;
    }
    .stats-box{
        flex-direction: row;
        justify-content: space-between;
    }

    h3{
        font-size: 1.4rem;
    }
    .stat-info{
        font-size: .8rem;
    }
}